<div class="row">
    <div class="col-xs-12">
        <img [src]="recipeSelected.imagePath" alt="{{ recipeSelected.name }}" [ngStyle]="{width: '500px'}" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipeSelected.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown #r="appDropdown">
            <button type="button" class="btn btn-primary dropdown-toggle"  >
                Manage recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" [ngClass]="{'show':r.isOpen}" >
                <li><a class="dropdown-item" (click)="onAddtoShopList()" style="cursor: pointer;">Shopping list</a></li>
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="onEditRecipe()">Edit Recipe</a></li>
                <li><a class="dropdown-item" style="cursor: pointer;">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
       {{ recipeSelected.description }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
           <li class="list-group-item" *ngFor="let ingriedient of recipeSelected.ingredients" >{{ ingriedient.name }} - {{ ingriedient.amount }} </li>
        </ul>
    </div>
</div>

